<div id="<%= dom_id workout_exercise %>">
  <div>
    <strong>Workout:</strong>
    <%= workout_exercise.workout_id %>
  </div>

  <div>
    <strong>Gym exercise:</strong>
    <%= workout_exercise.gym_exercise_id %>
  </div>

  <div>
    <strong>Sets:</strong>
    <%= workout_exercise.sets %>
  </div>

  <div>
    <strong>Reps:</strong>
    <%= workout_exercise.reps %>
  </div>

  <div>
    <strong>Rest seconds:</strong>
    <%= workout_exercise.rest_seconds %>
  </div>

  <div>
    <strong>Position:</strong>
    <%= workout_exercise.position %>
  </div>

</div>
