<div id="<%= dom_id workout_activity %>">
  <div>
    <strong>Workout:</strong>
    <%= workout_activity.workout_id %>
  </div>

  <div>
    <strong>Started at:</strong>
    <%= workout_activity.started_at %>
  </div>

  <div>
    <strong>Finished at:</strong>
    <%= workout_activity.finished_at %>
  </div>

  <div>
    <strong>Calories:</strong>
    <%= workout_activity.calories %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= workout_activity.notes %>
  </div>

</div>
