<div id="<%= dom_id workout_exercise_activity %>">
  <div>
    <strong>Workout activity:</strong>
    <%= workout_exercise_activity.workout_activity_id %>
  </div>

  <div>
    <strong>Workout exercise:</strong>
    <%= workout_exercise_activity.workout_exercise_id %>
  </div>

  <div>
    <strong>Gym exercise:</strong>
    <%= workout_exercise_activity.gym_exercise_id %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= workout_exercise_activity.notes %>
  </div>

</div>
