<div id="<%= dom_id exercise_set %>">
  <div>
    <strong>Workout exercise activity:</strong>
    <%= exercise_set.workout_exercise_activity_id %>
  </div>

  <div>
    <strong>Reps:</strong>
    <%= exercise_set.reps %>
  </div>

  <div>
    <strong>Weight:</strong>
    <%= exercise_set.weight %>
  </div>

  <div>
    <strong>Position:</strong>
    <%= exercise_set.position %>
  </div>

</div>
